<!DOCTYPE html>
<html>

<head>
	<title>Task</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
</head>

<body>

	<div id="root" class="container" style="display: block;
	text-align: center;">
	<br>
		<h1 class="title">Task</h1>
		<div class="field has-addons has-addons-centered">
			<p class="control">
				<input placeholder="Add new task" class="input" type="text" v-model="newTask" v-on:keyup.enter="addTask">
			</p>
			<p class="control">
				<button class="button is-link" v-on:click="addTask" :disabled="newTask === ''">Add</button>
			</p>
		</div>
		<div class="algo">
			<div class="caja">			
				<h2 class="subtitle is-3">All Task</h2>
				<ul>
					<li v-for="task in tasks" v-text="task.description"></li>
				</ul>
				<hr>
				<br>
				<h3 class="title is-3">Total: {{allCount()}}</h3>
			</div>
			<div class="caja">
				<h2 class="subtitle is-3">Task not Completed</h2>
				<ul>
					<li v-for="(task,key) in tasks" v-if="!task.completed">
						<span>{{task.description}}</span>
						<input @click="endTask(key)" type="checkbox">
					</li>
				</ul>
				<hr>
				<br>
				<h3 class="title is-3">Total: {{allCount()-contarCompletas()}}</h3>
			</div>
			<div class="caja">
				<h2 class="subtitle is-3">Task Completed</h2>
				<ul>
					<li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
				</ul>
				<hr>
				<br>
				<h3 class="title is-3">Total: {{contarCompletas()}}</h3>
			</div>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
<script type="text/javascript" src="task.js"></script>

</html>